@import './variables/_colors.module';
@import './global/_buttons.module';
@import './global/_forms.module';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}