@import './variables/_colors.module.scss';
@import './global/_buttons.module.scss';
@import './global/_forms.module.scss';
@import './variables/_fonts.module.scss';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: $main-font;
}